<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>夢中的婚禮</title>
   <link href="./style/reset.css" rel="stylesheet">
   <link href="./style/all.css" rel="stylesheet">
</head>

<body>
   <div id="app">
      <!-- Loading -->
      <div class="wrapper loading">
         <div class="linner">
            <div class="linebox">
               <div class="man"></div>
               <div class="man_2"></div>
               <div class="woman"></div>
               <div class="line"></div>
               <div class="loadingNum"></div>
            </div>
         </div>
      </div>
      <!-- KV -->
      <div class="wrapper kv">
         <div class="kvbg">
            <div class="title"></div>
            <div @click='startMake' class="startBtn"></div>
         </div>
      </div>
      <!-- 告白 -->
      <div class="wrapper gb">
         <div class="gbbg">
            <div class="text_1"></div>
            <div class="text_2"></div>
         </div>
      </div>
      <!-- 布置場景 -->
      <div class="wrapper scenes">
         <div id="stage" class="stage"></div>
         <div class="saveBtn" @click='finish'></div>
         <div class="subtab">
            <ul class="dobuleline">
               <li v-for='(item,key) in subtabData.bridegroom' :key="key">
                  <img :src="item" @click='subtabChose(key,"bridegroom")' alt="">
               </li>
            </ul>
            <ul class="singleline">
               <li v-for='(item,key) in subtabData.bestman' :key="key">
                  <img :src="item" @click='subtabChose(key,"bestman")' alt="">
               </li>
            </ul>
            <ul class="singleline">
               <li v-for='(item,key) in subtabData.boy' :key="key">
                  <img :src="item" @click='subtabChose(key,"boy")' alt="">
               </li>
            </ul>
            <ul class="dobuleline">
               <li v-for='(item,key) in subtabData.bride' :key="key">
                  <img :src="item" @click='subtabChose(key,"bride")' alt="">
               </li>
            </ul>
            <ul class="singleline">
               <li v-for='(item,key) in subtabData.bridesmaid' :key="key">
                  <img :src="item" @click='subtabChose(key,"bridesmaid")' alt="">
               </li>
            </ul>
            <ul class="singleline">
               <li v-for='(item,key) in subtabData.girl' :key="key">
                  <img :src="item" @click='subtabChose(key,"girl")' alt="">
               </li>
            </ul>
         </div>
         <div class="cardContent">

            <div class="tabs">
               <div class="tab" v-for='(item,key) in imgData.nav' :key="key">
                  <img @click="selectTab(key)" :src="item" alt="">
               </div>
               <div class="xs">
                  <img src="./images/img/nav-arrow.png" alt="">
               </div>
            </div>
            <div class="tabContents">
               <!-- 風景 -->
               <div :class='tabContent == "thumb_s" ? "selected":"" ' class="tabContent ">
                  <ul>
                     <li v-for='(item,key) in imgData.thumb_s' :key="key">
                        <img :src="item" @click='changeBg(key,"thumb_s")' alt="">
                     </li>
                  </ul>
               </div>
               <!-- 人物 -->
               <div :class='tabContent == "thumb_hm" ? "selected":"" ' class="tabContent ">
                  <ul>
                     <li v-for='(item,key) in imgData.thumb_hm' :key="key">
                        <img :src="item" @click='addSprite(key,"thumb_hm")' alt="">
                     </li>
                  </ul>
               </div>
               <!-- 裝飾 -->
               <div :class='tabContent == "thumb_d" ? "selected":"" ' class="tabContent ">
                  <ul>
                     <li v-for='(item,key) in imgData.thumb_d' :key="key">
                        <img :src="item" @click='addSprite(key,"thumb_d",true)' alt="">
                     </li>
                  </ul>
               </div>
               <!-- 寵物 -->
               <div :class='tabContent == "thumb_p" ? "selected":"" ' class="tabContent">
                  <ul>
                     <li v-for='(item,key) in imgData.thumb_p' :key="key">
                        <img :src="item" @click='addSprite(key,"thumb_p",true)' alt="">
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- 頁尾 -->
      <div class="wrapper end">
         <div class="lastpage">
            <div class="poster"></div>
            <div class="decorate_1"></div>
            <div class="decorate_2"></div>
            <div class="btns">
               <div class="btn replayBtn"></div>
               <div class="btn shareBtn"></div>
            </div>
            <div class="decorate_3"></div>
         </div>
      </div>
   </div>




   <!-- Vue CDN -->
   <script src="https://unpkg.com/vue@next"></script>
   <!-- PIXI CDN -->
   <script src="https://pixijs.download/release/pixi.js"></script>
   <!-- jQuery CDN -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

   <script src="./js/imagesLoader.min.js"></script>
   <script src="./js/loading.js"></script>
   <script src="./js/data.js"></script>
   <script>
      const vueApp = Vue.createApp({
         data() {
            return {
               app: new PIXI.Application({
                  width: 750,
                  height: 1334,
                  backgroundAlpha: 1,
               }),
               bgSprite: new PIXI.Sprite.from("./images/img/bg1.jpg"),
               imgData: {},
               subtabData: {},
               tabContent: 'thumb_s',
               sizeJson: {},
            }
         },
         methods: {
            // 開始製作 - 頁面切換
            startMake() {
               $('.kv').hide(); $('.gb').show();
               $('.text_1').show(); $('.text_1').addClass('enterText_1')
               setTimeout(() => {
                  $('.text_2').show(); $('.text_2').addClass('enterText_2');
               }, 500)
               setTimeout(() => { $('.gb').hide(); $('.scenes').show(); }, 3000)
            },
            // 製作完成 - 頁面切換
            finish() {
               $('.scenes').hide(); $('.end').show();
            },
            // 製作選單切換
            selectTab(key) {
               switch (key) {
                  case 0: this.tabContent = 'thumb_s'; break;
                  case 1: this.tabContent = 'thumb_hm'; break;
                  case 2: this.tabContent = 'thumb_d'; break;
                  case 3: this.tabContent = 'thumb_p'; break;
               }
            },
            // 背景設置
            setBackground(Sprite) {
               Sprite.position.set(0, 0);
               Sprite.width = 750;
               Sprite.height = 1334;
               this.app.stage.addChild(Sprite);
            },
            // 背景切換
            changeBg(key) {
               this.bgSprite.texture = PIXI.Texture.from(imgData.background[key]);
            },
            // 新增物件
            addSprite(key, text, subtab) {
               this.clearSelected()
               const container = new PIXI.Container();
               const cpos = { x: 750 / 2 + Math.random() * 40, y: 1334 / 2 + Math.random() * 40 }
               container.position.set(cpos.x, cpos.y);

               // 邊框、縮放按鈕、刪除按鈕
               const space = 20;
               const btnSize = 50;
               const borderline = new PIXI.Graphics();
               borderline.lineStyle(3, 0xaaaaaa)
               borderline.position.set(0, 0);
               const scaleBtn = new PIXI.Sprite.from('./images/img/btn-resize.png');
               scaleBtn.width = btnSize;
               scaleBtn.height = btnSize;
               scaleBtn.interactive = true;
               const delBtn = new PIXI.Sprite.from('./images/img/btn-del.png');
               delBtn.width = btnSize;
               delBtn.height = btnSize;
               delBtn.interactive = true;

               const imgContainer = new PIXI.Container();
               imgContainer.position.set(space / 2, space / 2);
               // imgContainer.anchor.set(0.5);
               imgContainer.interactive = true
               imgContainer.buttonMode = true

               let boxSpace = [0, 0];
               $('.subtab ul').hide();

               if (key == 0 && text == "thumb_hm") {
                  // 新郎
                  if (this.isOnly('bridegroom') == false) return
                  container.name = 'bridegroom'
                  $('.subtab ul').eq(key).show();
                  boxSpace = [340 + space, 681 + space];

                  const maleBody = new PIXI.Sprite.from('./images/img/bg-clothes1.png');
                  maleBody.position.set(0, 148);
                  const maleFace = new PIXI.Sprite.from('./images/img/bridegroom-face.png');
                  maleFace.position.set(135, 2);
                  const maleHair = new PIXI.Sprite.from('./images/img/bg-hair1.png');
                  maleHair.position.set(137, 0);

                  imgContainer.addChild(maleBody);
                  imgContainer.addChild(maleFace);
                  imgContainer.addChild(maleHair);

               } else if (key == 3 && text == "thumb_hm") {
                  // 新娘
                  if (this.isOnly('bride') == false) return
                  container.name = 'bride'
                  $('.subtab ul').eq(key).show();
                  const female = [460, 806]
                  boxSpace = [460 + space, 806 + space];

                  const femaleBody = new PIXI.Sprite.from('./images/img/b-clothes1.png');
                  femaleBody.position.set(0, 200);
                  const femaleFace = new PIXI.Sprite.from('./images/img/bride-face.png');
                  femaleFace.position.set(140, 60);
                  const femaleHair = new PIXI.Sprite.from('./images/img/b-hair1.png');
                  femaleHair.position.set(60, 0);

                  imgContainer.addChild(femaleBody);
                  imgContainer.addChild(femaleFace);
                  imgContainer.addChild(femaleHair);

               } else if (key != 3 && text == "thumb_hm") {
                  // 伴郎、伴娘、男童、女童
                  $('.subtab ul').eq(key).show();
                  return
               } else if (subtab != undefined) {
                  // 寵物、裝飾品
                  let obj = this.tabContentChoose(key, text);
                  boxSpace = [obj.width + space, obj.height + space];
                  const sprite = new PIXI.Sprite.from(obj.url);
                  imgContainer.addChild(sprite);
               }

               container.width = boxSpace[0];
               container.height = boxSpace[1];
               container.pivot.set(boxSpace[0] / 2, boxSpace[1] / 2)
               borderline.drawRoundedRect(0, 0, boxSpace[0], boxSpace[1], 10)
               scaleBtn.position.set(boxSpace[0] - btnSize / 2, -btnSize / 2);
               delBtn.position.set(-btnSize / 2, boxSpace[1] - btnSize / 2);

               container.addChild(imgContainer);
               container.addChild(borderline);
               container.addChild(scaleBtn);
               container.addChild(delBtn);

               imgContainer
                  .on('pointerdown', onDragStart)
                  .on('pointerup', onDragEnd)
                  .on('pointerupoutside', onDragEnd)
                  .on('pointermove', onDragMove);

               this.app.stage.addChild(container);


            },
            // 選擇樣式
            subtabChose(key, text) {
               let url = this.tabContentChoose(key, text);
               switch (text) {
                  case 'bridegroom':
                     if (key <= 5) {
                        this.app.stage.getChildByName('bridegroom').children[0].children[2].texture
                           = new PIXI.Texture.from(`./images/img/bg-hair${key + 1}.png`)
                     } else {
                        this.app.stage.getChildByName('bridegroom').children[0].children[0].texture
                           = new PIXI.Texture.from(`./images/img/bg-clothes${key - 5}.png`)
                     }
                     break;
                  case 'bride':
                     if (key <= 5) {
                        this.app.stage.getChildByName('bride').children[0].children[2].texture
                           = new PIXI.Texture.from(`./images/img/b-hair${key + 1}.png`)
                     } else {
                        this.app.stage.getChildByName('bride').children[0].children[0].texture
                           = new PIXI.Texture.from(`./images/img/b-clothes${key - 5}.png`)
                     }
                     break;
                  default: this.addSprite(key, text, true); break;
               }
            },
            // 選擇寵物、裝飾品
            tabContentChoose(key, text) {
               switch (text) {
                  case 'thumb_p': return this.sizeJson.thumb_p[key];
                  case 'thumb_d': return this.sizeJson.thumb_d[key];
                  case 'bestman': return this.sizeJson.bmm[key];
                  case 'bridesmaid': return this.sizeJson.bm[key];
                  case 'boy': return this.sizeJson.cm[key];
                  case 'girl': return this.sizeJson.cf[key];
               }
            },
            // 新郎、新娘唯一性
            isOnly(text) {
               const stageChildren = this.app.stage.children;
               const stageNum = stageChildren.length;
               for (let i = 0; i < stageNum; i++) {
                  if (stageChildren[i].name == text) { alert('只能一個'); return false; }
               }
            },
            // 清除選中狀態
            clearSelected() {
               const appAllChildren = this.app.stage.children;
               const num = appAllChildren.length
               for (let i = 1; i < num; i++) {
                  let sprite = appAllChildren[i];
                  sprite.children[1].visible = false;
                  sprite.children[2].visible = false;
                  sprite.children[3].visible = false;
               }
            },


         },
         mounted() {
            this.imgData = imgData;
            this.subtabData = subtabData;
            this.sizeJson = sizeJson;
            document.querySelector('#stage').appendChild(this.app.view);
            this.setBackground(this.bgSprite);
         },
      }).mount('#app')

      // PIXI 拖移方法
      function onDragStart(event) {
         vueApp.clearSelected();
         this.parent.children[1].visible = true;
         this.parent.children[2].visible = true;
         this.parent.children[3].visible = true;
         this.data = event.data;
         this.alpha = 0.5;
         this.dragging = true;
      };
      function onDragEnd() {
         this.alpha = 1;
         this.dragging = false;
         // set the interaction data to null
         this.data = null;
      };
      function onDragMove(text) {
         if (this.dragging) {
            const newPosition = this.data.getLocalPosition(this.parent);
            this.x = newPosition.x;
            this.y = newPosition.y;
         }
         console.log(text)
      }



   </script>
</body>

</html>